<div class="container">
    <mat-toolbar color="primary">
        <span class="fill-remaining-space">Register Form</span>
    </mat-toolbar>
</div>
<div class="container">
    <form [formGroup]="registerForm" class="form" (ngSubmit)="onSubmit()" #f="ngForm">
        <mat-form-field class="form-element">
            <input matInput placeholder="Firstname" formControlName="firstName">
            <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field class="form-element">
            <input matInput placeholder="Lastname" formControlName="lastName">
            <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field class="form-element">
            <input matInput placeholder="Username" formControlName="username">
            <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field class="form-element">
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error>Please enter atleast 6 characters!! </mat-error>
        </mat-form-field>

        <div class="form-element">
            <button  [disabled]="loading" mat-raised-button color="primary" class="button" type="submit">
            <span *ngIf="loading"></span> 
            Register
            
            </button>
            <button mat-button color="primary" routerLink="/login">Cancel</button>
            
        </div>

    </form>
</div>
